    @using System.Globalization

@{
    PersianCalendar pc1 = new PersianCalendar();
}
@model Mehrsam_Darou.ViewModel.ChatViewModel

<div class="offcanvas-xxl offcanvas-start h-100" tabindex="-1" id="Contactoffcanvas" aria-labelledby="ContactoffcanvasLabel">
    <div class="card position-relative overflow-hidden">
        <div class="card-header border-0 d-flex justify-content-between align-items-center">
            <h4 class="card-title">چت آنلاین</h4>
        </div>
        <ul class="nav nav-tabs nav-justified nav-bordered border-top mt-2">
            <li class="nav-item">
                <a href="#chat-list" data-bs-toggle="tab" aria-expanded="false" class="nav-link active py-2">
                    تاریخچه چت
                </a>
            </li>
            <li class="nav-item">
                <a href="#contact-list" data-bs-toggle="tab" aria-expanded="true" class="nav-link py-2">
                    کاربران
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane show active" id="chat-list">
                <div class="px-3 mb-3 chat-setting-height" data-simplebar id="chatList">
                    @foreach (var chat in Model.RecentChats)
                    {
                        <a href="@Url.Action("Chat", "Chat", new { contactId = chat.ContactId })" class="text-body">
                            <div class="d-flex align-items-center p-2 @(chat.IsActive ? "bg-light bg-opacity-50 rounded-1" : "")">
                                <div class="flex-shrink-0 position-relative">
                                    <img src="@chat.ContactAvatar" class="me-2 rounded-circle" height="36" alt="@chat.ContactName" />
                                </div>
                                <div class="flex-grow-1 overflow-hidden">
                                    <h5 class="my-0">
                                        <span class="float-end text-muted fs-13">

                                            @{
                                                if (chat.LastMessageTime != null)
                                                {
                                                    var date = chat.LastMessageTime;
                                                    var persianDate = $"{pc1.GetYear(date)}/{pc1.GetMonth(date):00}/{pc1.GetDayOfMonth(date):00} {date.ToString("HH:mm")}";
                                                    <p dir="ltr">@persianDate</p>
                                                }
                                            }
                                        
                                        </span>
                                        @chat.ContactName
                                    </h5>
                                    <p class="mt-1 mb-0 fs-13 text-muted d-flex align-items-end justify-content-between">
                                        <span class="w-75">@chat.LastMessagePreview</span>
                                        @if (chat.IsRead)
                                        {
                                            <i class="bx bx-check-double text-success"></i>
                                        }
                                        else if (chat.LastMessageIsMine)
                                        {
                                            <i class="bx bx-check text-muted"></i>
                                        }
                                    </p>
                                </div>
                            </div>
                        </a>
                    }
                </div>
            </div>
            <div class="tab-pane" id="contact-list">
                <div class="px-3 mb-3 chat-setting-height" data-simplebar id="contactList">
                    @foreach (var contact in Model.Contacts)
                    {
                        <div class="d-flex align-items-center position-relative py-2">
                            <a href="@Url.Action("Chat", "Chat", new { contactId = contact.Id })" class="stretched-link">
                                <img src="@contact.AvatarImg" class="me-2 rounded-circle" height="36" alt="@contact.FullName" />
                            </a>
                            <div class="flex-grow-1">
                                <h5 class="my-0 fs-14">@contact.FullName</h5>
                                <p class="mt-1 mb-0 text-muted">
                                    <span class="w-75">@contact.StatusMessage</span>
                                </p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>