
    @using System.Globalization

@{
    PersianCalendar pc1 = new PersianCalendar();
}
<!DOCTYPE html>
@* <html lang="fa" dir="rtl" data-menu-size="sm-hover" data-bs-theme="dark"> *@
<html lang="fa" dir="rtl" data-menu-size="sm-hover"
data-bs-theme="@(ViewData["IsDark"] as bool? == true ? "dark" : "light")">
<head>
    <!-- Title Meta -->
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Mehrsam_Darou</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A fully responsive premium admin dashboard template" />
    <meta name="author" content="Techzaa" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="/assets/images/favicon.ico">
    <link rel="stylesheet" href="/assets/libs/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="/assets/libs/choices.js/public/assets/styles/choices.min.css">
    <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="stylesheet" href="/assets/css/icons.css">
    <link rel="stylesheet" href="/assets/css/fontiran.min.css">





    @*     <link rel="stylesheet" href="/assets/libs/flatpickr/flatpickr.min.css"> *@
    <script src="/assets/js/config.js"></script>







</head>

<body>
    <div class="wrapper">
        <header class="topbar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <div class="d-flex align-items-center">
                        <!-- دکمه toggle منو -->
                        <div class="topbar-item">
                            <button type="button" class="button-toggle-menu me-2">
                                <iconify-icon icon="solar:hamburger-menu-broken" class="fs-24 align-middle"></iconify-icon>
                            </button>
                        </div>

                        <!-- عنوان صفحه -->
                        <div class="topbar-item">
                            <h4 class="fw-bold topbar-button pe-none text-uppercase mb-0"> @ViewData["Company"]</h4>
                        </div>
                    </div>

                    <div class="d-flex align-items-center gap-1">

                        <!-- تم رنگ (روشن/تاریک) -->
                        <div class="topbar-item">
                            <button type="button" class="topbar-button" id="light-dark-mode">
                                <iconify-icon icon="solar:moon-bold-duotone" class="fs-24 align-middle"></iconify-icon>
                            </button>
                        </div>

          @*               <!-- اعلان‌ها -->
                        <div class="dropdown topbar-item">
                            <button type="button" class="topbar-button position-relative"
                            id="page-header-notifications-dropdown" data-bs-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                                <iconify-icon icon="solar:bell-bing-bold-duotone" class="fs-24 align-middle"></iconify-icon>
                                <span class="position-absolute topbar-badge fs-10 translate-middle badge bg-danger rounded-pill">
                                    3<span class="visually-hidden">پیام‌های خوانده نشده</span>
                                </span>
                            </button>
                            <div class="dropdown-menu py-0 dropdown-lg dropdown-menu-end"
                            aria-labelledby="page-header-notifications-dropdown">
                                <div class="p-3 border-top-0 border-start-0 border-end-0 border-dashed border">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <h6 class="m-0 fs-16 fw-semibold"> اعلان‌ها</h6>
                                        </div>
                                        <div class="col-auto">
                                            <a href="javascript: void(0);" class="text-dark text-decoration-underline">
                                                <small>پاک کردن همه</small>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div data-simplebar style="max-height: 280px;">
                                    <!-- آیتم -->
                                    <a href="javascript:void(0);" class="dropdown-item py-3 border-bottom text-wrap">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0">
                                                <img src="images/users/avatar-1.jpg"
                                                class="img-fluid me-2 avatar-sm rounded-circle" alt="avatar-1" />
                                            </div>
                                            <div class="flex-grow-1">
                                                <p class="mb-0">
                                                    <span class="fw-medium">جوزفین تامپسون </span>در مورد پنل مدیر نظر داده
                                                    <span>" وای 😍! این پنل مدیر عالی و طراحی جذاب است"</span>
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                    <!-- آیتم -->
                                    <a href="javascript:void(0);" class="dropdown-item py-3 border-bottom">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0">
                                                <div class="avatar-sm me-2">
                                                    <span class="avatar-title bg-soft-info text-info fs-20 rounded-circle">
                                                        D
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="flex-grow-1">
                                                <p class="mb-0 fw-semibold">دونوگویی سوزان</p>
                                                <p class="mb-0 text-wrap">
                                                    سلام، حال شما چطور است؟ جلسه بعدی ما چی؟
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                    <!-- آیتم -->
                                    <a href="javascript:void(0);" class="dropdown-item py-3 border-bottom">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0">
                                                <img src="/images/users/avatar-3.jpg"
                                                class="img-fluid me-2 avatar-sm rounded-circle" alt="avatar-3" />
                                            </div>
                                            <div class="flex-grow-1">
                                                <p class="mb-0 fw-semibold">جیکوب گینس</p>
                                                <p class="mb-0 text-wrap">پاسخ داد به کامنت شما در گراف پیش‌بینی جریان نقدی 🔔.</p>
                                            </div>
                                        </div>
                                    </a>
                                    <!-- آیتم -->
                                    <a href="javascript:void(0);" class="dropdown-item py-3 border-bottom">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0">
                                                <div class="avatar-sm me-2">
                                                    <span class="avatar-title bg-soft-warning text-warning fs-20 rounded-circle">
                                                        <iconify-icon icon="iconamoon:comment-dots-duotone"></iconify-icon>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="flex-grow-1">
                                                <p class="mb-0 fw-semibold text-wrap">شما <b>20</b> پیام جدید در مکالمه دریافت کرده‌اید</p>
                                            </div>
                                        </div>
                                    </a>
                                    <!-- آیتم -->
                                    <a href="javascript:void(0);" class="dropdown-item py-3 border-bottom">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0">
                                                <img src="/images/users/avatar-5.jpg"
                                                class="img-fluid me-2 avatar-sm rounded-circle" alt="avatar-5" />
                                            </div>
                                            <div class="flex-grow-1">
                                                <p class="mb-0 fw-semibold">شان بنچ</p>
                                                <p class="mb-0 text-wrap">
                                                    نظر داده در پنل مدیر
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="text-center py-3">
                                    <a href="javascript:void(0);" class="btn btn-primary btn-sm">
                                        مشاهده تمامی اعلان‌ها <i class="bx bx-left-arrow-alt ms-1"></i>
                                    </a>
                                </div>
                            </div>
                        </div> *@


                        <!-- اعلان‌ها -->
                        <div class="dropdown topbar-item">
                            <button type="button" class="topbar-button position-relative"
                                    id="page-header-notifications-dropdown" data-bs-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                <iconify-icon icon="solar:bell-bing-bold-duotone" class="fs-24 align-middle"></iconify-icon>
                                <span class="position-absolute topbar-badge fs-10 translate-middle badge bg-danger rounded-pill"
                                      style="@( ((int)ViewData["UnreadNotificationsCount"]) > 0 ? "display:inline-block;" : "display:none;" )">
                                    @(ViewData["UnreadNotificationsCount"])
                                    <span class="visually-hidden">پیام‌های خوانده نشده</span>
                                </span>
                            </button>
                            <div class="dropdown-menu py-0 dropdown-lg dropdown-menu-end"
                                 aria-labelledby="page-header-notifications-dropdown">
                                <div class="p-3 border-top-0 border-start-0 border-end-0 border-dashed border">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <h6 class="m-0 fs-16 fw-semibold"> اعلان‌ها</h6>
                                        </div>
                                        <div class="col-auto">
                                            <a href="javascript:void(0);" class="text-dark text-decoration-underline">
                                                <small>پاک کردن همه</small>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div data-simplebar style="max-height: 280px;">
                                    @if (ViewData["Notifications"] != null && ((List<Notification>)ViewData["Notifications"]).Any())
                                    {
                                        var notifications = (List<Notification>)ViewData["Notifications"];
                                        foreach (var n in notifications)
                                        {
                                            <a href="@Url.Action("Noti", "Notification",new {notificationId = n.Id})" class="dropdown-item py-1 border-bottom text-wrap">
                                                <div class="d-flex">
                                                    <div class="flex-shrink-0">
                                                        @* Use avatar url if available, otherwise fallback to default *@
                                                        <img src="@(!string.IsNullOrEmpty(n.Img) ? n.Img : "images/users/dummy-avatar.jpg")"
                                                             class="img-fluid me-2 avatar-sm rounded-circle"
                                                             alt="avatar-@n.Id" />
                                                    </div>
                                                    <div class="flex-grow-1">
                                                        <p class="mb-0 fw-semibold">@n.Title</p>
                                                        <p class="fs-12 mb-0 mt-1 text-wrap">@n.Message</p>

                                                        @if (n.CreatedDate != null)
                                                        {
                                                            var date = n.CreatedDate;
                                                            var persianDate = $"{pc1.GetYear(date)}/{pc1.GetMonth(date):00}/{pc1.GetDayOfMonth(date):00} {date.ToString("HH:mm")}";
                                                            <p class="text-muted fs-12 mb-0 mt-1" style="text-align:left;">
                                                                <span dir="ltr">@persianDate</span>
                                                            </p>
                                                        }
                                                    </div>
                                                </div>
                                            </a>
                                        }
                                    }
                                    else
                                    {
                                        <p class="text-center text-muted py-3">اعلانی وجود ندارد</p>
                                    }
                                </div>
                                <div class="text-center py-3">
                                    <a href="javascript:void(0);" class="btn btn-primary btn-sm">
                                        مشاهده تمامی اعلان‌ها <i class="bx bx-left-arrow-alt ms-1"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    




                        <!-- تنظیمات تم -->
                        <div class="topbar-item d-none d-md-flex">
                            <button type="button" class="topbar-button" id="theme-settings-btn" data-bs-toggle="offcanvas"
                            data-bs-target="#theme-settings-offcanvas" aria-controls="theme-settings-offcanvas">
                                <iconify-icon icon="solar:settings-bold-duotone" class="fs-24 align-middle"></iconify-icon>
                            </button>
                        </div>

                        <!-- فعالیت -->
                        <div class="topbar-item d-none d-md-flex">
                            <button type="button" class="topbar-button" id="theme-settings-btn" data-bs-toggle="offcanvas"
                            data-bs-target="#theme-activity-offcanvas" aria-controls="theme-settings-offcanvas">
                                <iconify-icon icon="solar:clock-circle-bold-duotone" class="fs-24 align-middle"></iconify-icon>
                            </button>
                        </div>

                        <!-- کاربر -->
                        <div class="dropdown topbar-item">
                            <a type="button" class="topbar-button" id="page-header-user-dropdown" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                                <span class="d-flex align-items-center">
                                    <img class="rounded-circle" width="32" height="32" src="@ViewData["Avatar"]"
                                    alt="/images/users/dummy-avatar.jpg">
                                </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <!-- آیتم-->
                                <h6 class="dropdown-header">
                                    @ViewData["Fullname"]! خوش آمدی
                                </h6>

                                <a class="dropdown-item" href="pages-profile.html">
                                    <i class="bx bx-user-circle text-muted fs-18 align-middle me-1"></i><span class="align-middle">پروفایل</span>
                                </a>
                                <a class="dropdown-item" href="chat.html">
                                    <i class="bx bx-message-dots text-muted fs-18 align-middle me-1"></i><span class="align-middle">پیام‌ها</span>
                                </a>

                                <a class="dropdown-item" href="pricing.html">
                                    <i class="bx bx-wallet text-muted fs-18 align-middle me-1"></i><span class="align-middle">قیمت‌گذاری</span>
                                </a>
                                <a class="dropdown-item" href="faqs.html">
                                    <i class="bx bx-help-circle text-muted fs-18 align-middle me-1"></i><span class="align-middle">راهنما</span>
                                </a>
                                <a class="dropdown-item" href="lock-screen.html">
                                    <i class="bx bx-lock text-muted fs-18 align-middle me-1"></i><span class="align-middle">قفل صفحه</span>
                                </a>

                                <div class="dropdown-divider my-1"></div>

                                <form method="post" action="@Url.Action("Logout", "Client")">
                                    <button type="submit" class="dropdown-item text-danger">
                                        <i class="bx bx-log-out fs-18 align-middle me-1"></i><span class="align-middle">خروج</span>
                                    </button>
                                </form>

                            </div>
                        </div>

                        <!-- جستجوی اپ -->
                        <form class="app-search d-none d-md-block ms-2">
                            <div class="position-relative">
                                <input type="search" class="form-control" placeholder="جستجو..." autocomplete="off" value="">
                                <iconify-icon icon="solar:magnifer-linear" class="search-widget-icon"></iconify-icon>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </header>

        <!-- Activity Timeline -->
        <div>
            <div class="offcanvas offcanvas-end border-0" tabindex="-1" id="theme-activity-offcanvas"
            style="max-width: 450px; width: 100%;">
                <div class="d-flex align-items-center bg-primary p-3 offcanvas-header">
                    <h5 class="text-white m-0 fw-semibold">جریان فعالیت</h5>
                    <button type="button" class="btn-close btn-close-white ms-auto" data-bs-dismiss="offcanvas"
                    aria-label="بستن"></button>
                </div>

                <div class="offcanvas-body p-0">
                    <div data-simplebar class="h-100 p-4">
                        <div class="position-relative ms-2">
                            <span class="position-absolute start-0  top-0 border border-dashed h-100"></span>

                            @foreach (var log in ViewData["LogEntries"] as List<Mehrsam_Darou.Models.UserEnterLog>)
                            {
                                <div class="position-relative ps-4">

                                    <div class="mb-4">
                                        <span class="position-absolute start-0 translate-middle-x bg-success bg-gradient d-inline-flex align-items-center justify-content-center rounded-circle text-light fs-20">
                                            <img src="@log.User?.AvatarImg" alt="avatar" class="avatar-sm rounded-circle">
                                        </span>
                                        <div class="ms-2">
                                            <h5 class="mb-0 text-dark fw-semibold fs-15 lh-base">@log.User?.FirstName @log.User?.LastName ، @log.User?.Team?.Name</h5>
                                            <p class="d-flex align-items-center gap-1">
                                                @if (log.Status == "ورود به سیستم")
                                                {
                                                    <iconify-icon icon="iconamoon:check-circle-1-duotone" class="text-success"></iconify-icon>
                                                    <span>به سایت وارد شد</span>
                                                }
                                                else if (log.Status == "خروج از سیستم")
                                                {
                                                    <iconify-icon icon="iconamoon:check-circle-1-duotone" class="text-danger"></iconify-icon>
                                                    <span>از سایت خارج شد</span>
                                                }
                                                else if (log.Status == "آنلاین")
                                                {
                                                    <iconify-icon icon="iconamoon:check-circle-1-duotone" class="dz-button"></iconify-icon>
                                                    <span>آنلاین در چت</span>
                                                }
                                            </p>
                                            @{
                                                if (log.CreatedDate.HasValue)
                                                {
                                                    var date = log.CreatedDate.Value;
                                                    var persianDate = $"{pc1.GetYear(date)}/{pc1.GetMonth(date):00}/{pc1.GetDayOfMonth(date):00} {date:HH:mm}";

                                                    <h6 dir="ltr" class="mt-3 text-muted">@persianDate</h6>

                                                }
                                            }



                                        </div>
                                    </div>

                                </div>
                            }



                        </div>
                        <a href="#!" class="btn btn-outline-dark w-100">مشاهده همه</a>
                    </div>
                </div>
            </div>

        </div>

        <div class="main-nav">
            <!-- Sidebar Logo -->
            <div class="logo-box">
                <a href="index.html" class="logo-dark">
                    <img src="/images/logo-sm.png" class="logo-sm" alt="logo sm">
                    <img src="/images/logo-dark.png" class="logo-lg" alt="logo dark">
                </a>

                <a href="index.html" class="logo-light">
                    <img src="/images/logo-sm.png" class="logo-sm" alt="logo sm">
                    <img src="/images/logo-light.png" class="logo-lg" alt="logo light">
                </a>
            </div>

            <!-- Menu Toggle Button (sm-hover) -->
            <button type="button" class="button-sm-hover" aria-label="Show Full Sidebar">
                <iconify-icon icon="solar:double-alt-arrow-left-bold-duotone" class="button-sm-hover-icon"></iconify-icon>
            </button>

            <div class="scrollbar" data-simplebar>
                <ul class="navbar-nav" id="navbar-nav">

                    <li class="menu-title">عمومی</li>

                    @if ((bool)ViewData["ManagmentMenu"])
                    {
                        <li class="nav-item">

                            <form method="post" action="@Url.Action("Dashboard", "Dashboard")">
                                <button type="submit" class="nav-link" style="background: none; border: none; cursor: pointer;">

                                    <span class="nav-icon">
                                        <iconify-icon icon="solar:widget-5-bold-duotone"></iconify-icon>
                                    </span>
                                    <span class="nav-text"> داشبورد </span>
                                </button>
                            </form>



@* 

                            <a class="nav-link" href="index.html">
                                <span class="nav-icon">
                                    <iconify-icon icon="solar:widget-5-bold-duotone"></iconify-icon>
                                </span>
                                <span class="nav-text"> داشبورد </span>
                            </a> *@
                        </li>
                    }



                    @if ((bool)ViewData["SystemUsersMenu"])
                    {

                        <li class="nav-item">
                            <a class="nav-link menu-arrow" href="#sidebarUsers" data-bs-toggle="collapse" role="button"
                            aria-expanded="false" aria-controls="sidebarUsers">
                                <span class="nav-icon">
                                    <iconify-icon icon="solar:user-rounded-bold-duotone"></iconify-icon>
                                </span>
                                <span class="nav-text"> کاربران </span>
                            </a>
                            <div class="collapse" id="sidebarUsers">
                                <ul class="nav sub-navbar-nav">
                                    <li class="sub-nav-item">
                                        <form method="post" action="@Url.Action("AddNewUser", "User")">
                                            <button type="submit" class="nav-link" style="background: none; border: none; cursor: pointer;">

                                                <span class="nav-text">کاربر جدید</span>
                                            </button>
                                        </form>
                                    </li>




                                    <li class="sub-nav-item">
                                        <form method="post" action="@Url.Action("UserList", "User")">
                                            <button type="submit" class="nav-link" style="background: none; border: none; cursor: pointer;">

                                                <span class="nav-text">لیست کاربران</span>
                                            </button>
                                        </form>
                                    </li>
                                    <li class="sub-nav-item">
                                        <form method="post" action="@Url.Action("TeamList", "Team")">
                                            <button type="submit" class="nav-link" style="background: none; border: none; cursor: pointer;">

                                                <span class="nav-text">تیم ها</span>
                                            </button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </li>

                    }


                      @if ((bool)ViewData["FinancialMenu"])
                    {

                        <li class="nav-item">
                            <a class="nav-link menu-arrow" href="#sidebarFinancial" data-bs-toggle="collapse" role="button"
                            aria-expanded="false" aria-controls="sidebarFinancial">
                                <span class="nav-icon">
                                    <iconify-icon icon="solar:bill-list-bold-duotone"></iconify-icon>
                                </span>
                                <span class="nav-text"> مالی </span>
                            </a>
                            <div class="collapse" id="sidebarFinancial">
                                <ul class="nav sub-navbar-nav">
                                    <li class="sub-nav-item">
                                        <form method="post" action="@Url.Action("AddNewUser", "User")">
                                            <button type="submit" class="nav-link" style="background: none; border: none; cursor: pointer;">

                                                <span class="nav-text">حساب</span>
                                            </button>
                                        </form>
                                    </li>




                                    <li class="sub-nav-item">
                                        <form method="post" action="@Url.Action("UserList", "User")">
                                            <button type="submit" class="nav-link" style="background: none; border: none; cursor: pointer;">

                                                <span class="nav-text">فاکتور</span>
                                            </button>
                                        </form>
                                    </li>
                        
                                </ul>
                            </div>
                        </li>

                    }

                        @if ((bool)ViewData["InventoryMenu"])
                    {

                        <li class="nav-item">
                            <a class="nav-link menu-arrow" href="#sidebarInventory" data-bs-toggle="collapse" role="button"
                            aria-expanded="false" aria-controls="sidebarInventory">
                                <span class="nav-icon">
                                    <iconify-icon icon="solar:box-bold-duotone"></iconify-icon>
                                </span>
                                <span class="nav-text"> انبار </span>
                            </a>
                            <div class="collapse" id="sidebarInventory">
                                <ul class="nav sub-navbar-nav">
                                    <li class="sub-nav-item">
                                        <form method="post" action="@Url.Action("InventoryList", "Inventory")">
                                            <button type="submit" class="nav-link" style="background: none; border: none; cursor: pointer;">

                                                <span class="nav-text">انبار</span>
                                            </button>
                                        </form>
                                    </li>
                                    <li class="sub-nav-item">
                                        <form method="post" action="@Url.Action("RawmaterialsList", "Rawmaterials")">
                                            <button type="submit" class="nav-link" style="background: none; border: none; cursor: pointer;">

                                                <span class="nav-text">مواد اولیه</span>
                                            </button>
                                        </form>
                                    </li>
                                    <li class="sub-nav-item">
                                        <form method="post" action="@Url.Action("MedicinesList", "Medicines")">
                                            <button type="submit" class="nav-link" style="background: none; border: none; cursor: pointer;">

                                                <span class="nav-text">دارو ها</span>
                                            </button>
                                        </form>
                                    </li>                                      
                                </ul>
                            </div>
                        </li>

                    }

                         @if ((bool)ViewData["ProductMenu"])
                    {

                        <li class="nav-item">
                            <a class="nav-link menu-arrow" href="#sidebarProduct" data-bs-toggle="collapse" role="button"
                            aria-expanded="false" aria-controls="sidebarProduct">
                                <span class="nav-icon">
                                    <iconify-icon icon="solar:leaf-bold-duotone"></iconify-icon>
                                </span>
                                <span class="nav-text"> محصولات </span>
                            </a>
                            <div class="collapse" id="sidebarProduct">
                                <ul class="nav sub-navbar-nav">


                                    <li class="sub-nav-item">
                                        <form method="post" action="@Url.Action("MedicineList", "Medicine")">
                                            <button type="submit" class="nav-link" style="background: none; border: none; cursor: pointer;">

                                                <span class="nav-text">دارو</span>
                                            </button>
                                        </form>
                                    </li>



                                    <li class="sub-nav-item">
                                        <form method="post" action="@Url.Action("MedicineCategoryList", "MedicineCategory")">
                                            <button type="submit" class="nav-link" style="background: none; border: none; cursor: pointer;">

                                                <span class="nav-text">دسته بندی دارو</span>
                                            </button>
                                        </form>
                                    </li>


                    

                                    <li class="sub-nav-item">
                                        <form method="post" action="@Url.Action("AddNewUser", "User")">
                                            <button type="submit" class="nav-link" style="background: none; border: none; cursor: pointer;">

                                                <span class="nav-text">انبار</span>
                                            </button>
                                        </form>
                                    </li>




                                    <li class="sub-nav-item">
                                        <form method="post" action="@Url.Action("UserList", "User")">
                                            <button type="submit" class="nav-link" style="background: none; border: none; cursor: pointer;">

                                                <span class="nav-text">موجودی</span>
                                            </button>
                                        </form>
                                    </li>
                        
                                </ul>
                            </div>
                        </li>

                    }


                                             @if ((bool)ViewData["SellCommercialMenu"])
                    {

                        <li class="nav-item">
                            <a class="nav-link menu-arrow" href="#sidebarSellCommercial" data-bs-toggle="collapse" role="button"
                            aria-expanded="false" aria-controls="sidebarSellCommercial">
                                <span class="nav-icon">
                                    <iconify-icon icon="solar:gift-bold-duotone"></iconify-icon>
                                </span>
                                <span class="nav-text"> بازرگانی فروش </span>
                            </a>
                            <div class="collapse" id="sidebarSellCommercial">
                                <ul class="nav sub-navbar-nav">
                                    <li class="sub-nav-item">
                                        <form method="post" action="@Url.Action("AddNewUser", "User")">
                                            <button type="submit" class="nav-link" style="background: none; border: none; cursor: pointer;">

                                                <span class="nav-text">بازرگانی فروش</span>
                                            </button>
                                        </form>
                                    </li>




                                    <li class="sub-nav-item">
                                        <form method="post" action="@Url.Action("UserList", "User")">
                                            <button type="submit" class="nav-link" style="background: none; border: none; cursor: pointer;">

                                                <span class="nav-text">موجودی</span>
                                            </button>
                                        </form>
                                    </li>
                        
                                </ul>
                            </div>
                        </li>

                    }


                                                            @if ((bool)ViewData["BuyCommercialMenu"])
                    {

                        <li class="nav-item">
                            <a class="nav-link menu-arrow" href="#sidebarBuyCommercial" data-bs-toggle="collapse" role="button"
                            aria-expanded="false" aria-controls="sidebarBuyCommercial">
                                <span class="nav-icon">
                                    <iconify-icon icon="solar:case-bold-duotone"></iconify-icon>
                                </span>
                                <span class="nav-text"> بازرگانی خرید </span>
                            </a>
                            <div class="collapse" id="sidebarBuyCommercial">
                                <ul class="nav sub-navbar-nav">
                                    <li class="sub-nav-item">
                                        <form method="post" action="@Url.Action("AddNewUser", "User")">
                                            <button type="submit" class="nav-link" style="background: none; border: none; cursor: pointer;">

                                                <span class="nav-text">بازرگانی خرید</span>
                                            </button>
                                        </form>
                                    </li>




                                    <li class="sub-nav-item">
                                        <form method="post" action="@Url.Action("UserList", "User")">
                                            <button type="submit" class="nav-link" style="background: none; border: none; cursor: pointer;">

                                                <span class="nav-text">موجودی</span>
                                            </button>
                                        </form>
                                    </li>
                        
                                </ul>
                            </div>
                        </li>

                    }

                                                         @if ((bool)ViewData["RandDMenu"])
                    {

                        <li class="nav-item">
                            <a class="nav-link menu-arrow" href="#sidebarRandD" data-bs-toggle="collapse" role="button"
                            aria-expanded="false" aria-controls="sidebarRandD">
                                <span class="nav-icon">
                                    <iconify-icon icon="solar:tuning-2-bold-duotone"></iconify-icon>
                                </span>
                                <span class="nav-text"> تحقیق و توسعه </span>
                            </a>
                            <div class="collapse" id="sidebarRandD">
                                <ul class="nav sub-navbar-nav">
                                    <li class="sub-nav-item">
                                        <form method="post" action="@Url.Action("AddNewUser", "User")">
                                            <button type="submit" class="nav-link" style="background: none; border: none; cursor: pointer;">

                                                <span class="nav-text">تحقیق</span>
                                            </button>
                                        </form>
                                    </li>




                                    <li class="sub-nav-item">
                                        <form method="post" action="@Url.Action("UserList", "User")">
                                            <button type="submit" class="nav-link" style="background: none; border: none; cursor: pointer;">

                                                <span class="nav-text">توسعه</span>
                                            </button>
                                        </form>
                                    </li>
                        
                                </ul>
                            </div>
                        </li>
                    }
                   @if ((bool)ViewData["QcMenu"])
                    {

                        <li class="nav-item">
                            <a class="nav-link menu-arrow" href="#sidebarQC" data-bs-toggle="collapse" role="button"
                            aria-expanded="false" aria-controls="sidebarQC">
                                <span class="nav-icon">
                                    <iconify-icon icon="solar:checklist-bold-duotone"></iconify-icon>
                                </span>
                                <span class="nav-text"> کنترل کیفیت </span>
                            </a>
                            <div class="collapse" id="sidebarQC">
                                <ul class="nav sub-navbar-nav">
                                    <li class="sub-nav-item">
                                        <form method="post" action="@Url.Action("AddNewUser", "User")">
                                            <button type="submit" class="nav-link" style="background: none; border: none; cursor: pointer;">

                                                <span class="nav-text">کنترل کیفیت</span>
                                            </button>
                                        </form>
                                    </li>




                                    <li class="sub-nav-item">
                                        <form method="post" action="@Url.Action("UserList", "User")">
                                            <button type="submit" class="nav-link" style="background: none; border: none; cursor: pointer;">

                                                <span class="nav-text">کنترل کیفیت</span>
                                            </button>
                                        </form>
                                    </li>
                        
                                </ul>
                            </div>
                        </li>
                    }


                          @if ((bool)ViewData["QaMenu"])
                    {

                        <li class="nav-item">
                            <a class="nav-link menu-arrow" href="#sidebarQA" data-bs-toggle="collapse" role="button"
                            aria-expanded="false" aria-controls="sidebarQA">
                                <span class="nav-icon">
                                    <iconify-icon icon="solar:checklist-minimalistic-bold-duotone"></iconify-icon>
                                </span>
                                <span class="nav-text"> تضمین کیفیت </span>
                            </a>
                            <div class="collapse" id="sidebarQA">
                                <ul class="nav sub-navbar-nav">
                                    <li class="sub-nav-item">
                                        <form method="post" action="@Url.Action("AddNewUser", "User")">
                                            <button type="submit" class="nav-link" style="background: none; border: none; cursor: pointer;">

                                                <span class="nav-text">کنترل کیفیت</span>
                                            </button>
                                        </form>
                                    </li>




                                    <li class="sub-nav-item">
                                        <form method="post" action="@Url.Action("UserList", "User")">
                                            <button type="submit" class="nav-link" style="background: none; border: none; cursor: pointer;">

                                                <span class="nav-text">کنترل کیفیت</span>
                                            </button>
                                        </form>
                                    </li>
                        
                                </ul>
                            </div>
                        </li>
                    }

                          @if ((bool)ViewData["PmoMenu"])
                    {

                        <li class="nav-item">
                            <a class="nav-link menu-arrow" href="#sidebarPMO" data-bs-toggle="collapse" role="button"
                            aria-expanded="false" aria-controls="sidebarPMO">
                                <span class="nav-icon">
                                    <iconify-icon icon="solar:document-text-bold-duotone"></iconify-icon>
                                </span>
                                <span class="nav-text"> PMO </span>
                            </a>
                            <div class="collapse" id="sidebarPMO">
                                <ul class="nav sub-navbar-nav">
                                    <li class="sub-nav-item">
                                        <form method="post" action="@Url.Action("AddNewUser", "User")">
                                            <button type="submit" class="nav-link" style="background: none; border: none; cursor: pointer;">

                                                <span class="nav-text">کنترل کیفیت</span>
                                            </button>
                                        </form>
                                    </li>




                                    <li class="sub-nav-item">
                                        <form method="post" action="@Url.Action("UserList", "User")">
                                            <button type="submit" class="nav-link" style="background: none; border: none; cursor: pointer;">

                                                <span class="nav-text">کنترل کیفیت</span>
                                            </button>
                                        </form>
                                    </li>
                        
                                </ul>
                            </div>
                        </li>
                    }

                    <li class="nav-item">
                        <a class="nav-link menu-arrow" href="#sidebarChat" data-bs-toggle="collapse" role="button"
                        aria-expanded="false" aria-controls="sidebarChat">
                            <span class="nav-icon">
                                <iconify-icon icon="solar:chat-round-bold-duotone"></iconify-icon>
                            </span>
                            <span class="nav-text"> چت </span>
                        </a>
                        <div class="collapse" id="sidebarChat">
                            <ul class="nav sub-navbar-nav">
                                <li class="sub-nav-item">
                                    <form method="post" action="@Url.Action("Chat", "Chat")">
                                        <button type="submit" class="nav-link" style="background: none; border: none; cursor: pointer;">

                                            <span class="nav-text">چت</span>
                                        </button>
                                    </form>
                                </li>




                    
                 
                            </ul>
                        </div>
                    </li>






                    @if ((bool)ViewData["SettingMenu"])
                    {
                        
                       <li class="nav-item">

                        <a class="nav-link menu-arrow" href="#sidebarSetting" data-bs-toggle="collapse" role="button"
                               aria-expanded="false" aria-controls="sidebarSetting">
                            <span class="nav-icon">
                                <iconify-icon icon="solar:settings-bold-duotone"></iconify-icon>
                            </span>
                            <span class="nav-text"> تنظیمات </span>
                        </a>
                            <div class="collapse" id="sidebarSetting">
                            <ul class="nav sub-navbar-nav">
                                <li class="sub-nav-item">
                                    <form method="post" action="@Url.Action("Setting", "Setting")">
                                        <button type="submit" class="nav-link" style="background: none; border: none; cursor: pointer;">

                                                <span class="nav-text">تنظیمات</span>
                                        </button>
                                    </form>
                                </li>

                                    <li class="sub-nav-item">
                                        <form method="post" action="@Url.Action("OrganizationList", "Organization")">
                                            <button type="submit" class="nav-link" style="background: none; border: none; cursor: pointer;">

                                                <span class="nav-text">شرکت ها</span>
                                            </button>
                                        </form>
                                    </li>

                                    <li class="sub-nav-item">
                                        <form method="post" action="@Url.Action("UnitList", "Unit")">
                                            <button type="submit" class="nav-link" style="background: none; border: none; cursor: pointer;">

                                                <span class="nav-text">واحد ها</span>
                                            </button>
                                        </form>
                                    </li>
                                


                            </ul>
                        </div>
                        </li>
                }
                
                
           


                              

                </ul>
            </div>
        </div>

        <div class="page-content">
            <div class="container-fluid">
             
                @RenderBody()
       
        </div> 
    </div>

    <!-- ========== Footer Start ========== -->
    <footer class="footer">
        <div class="container-fluid">
 
                <div class="col-12 text-center">
                    <script>document.write(new Date().getFullYear())</script> &copy; ساخته شده توسط گروه نرم افزاری
                    <iconify-icon icon="iconamoon:heart-duotone" class="fs-18 align-middle text-danger"></iconify-icon>
                    <a href="" class="fw-bold footer-text" target="_blank">گروه هلدینگ هورخش</a>
                </div>
            </div>
        </div>
    </footer>
    <!-- ========== Footer End ========== -->
    
    


    <div>
        <div class="offcanvas offcanvas-end border-0" tabindex="-1" id="theme-settings-offcanvas">
            <div class="d-flex align-items-center bg-primary p-3 offcanvas-header">
                <h5 class="text-white m-0">تنظیمات تم</h5>
                <button type="button" class="btn-close btn-close-white ms-auto" data-bs-dismiss="offcanvas" aria-label="بستن"></button>
            </div>

            <div class="offcanvas-body p-0">
                <div data-simplebar class="h-100">
                    <div class="p-3 settings-bar">

                        <div>
                            <h5 class="mb-3 font-16 fw-semibold">طرح رنگ</h5>

                            <div class="form-check mb-2">
                                <input class="form-check-input" type="radio" name="data-bs-theme" id="layout-color-light" value="light" @(ViewData["IsDark"] as bool? == false ? "checked" : "")>
                                <label class="form-check-label" for="layout-color-light">روشن</label>
                            </div>

                            <div class="form-check mb-2">
                                <input class="form-check-input" type="radio" name="data-bs-theme" id="layout-color-dark" value="dark" @(ViewData["IsDark"] as bool? == true ? "checked" : "")>
                                <label class="form-check-label" for="layout-color-dark">تاریک</label>
                            </div>
                        </div>

                        <div>
                            <h5 class="my-3 font-16 fw-semibold">رنگ نوار بالایی</h5>

                            <div class="form-check mb-2">
                                <input class="form-check-input" type="radio" name="data-topbar-color" id="topbar-color-light" value="light" @(ViewData["IsNavDark"] as bool? == false ? "checked" : "")>
                                <label class="form-check-label" for="topbar-color-light">روشن</label>
                            </div>

                            <div class="form-check mb-2">
                                <input class="form-check-input" type="radio" name="data-topbar-color" id="topbar-color-dark" value="dark" @(ViewData["IsNavDark"] as bool? == true ? "checked" : "")>
                                <label class="form-check-label" for="topbar-color-dark">تاریک</label>
                            </div>
                        </div>

                        <div>
                            <h5 class="my-3 font-16 fw-semibold">رنگ منو</h5>

                            <div class="form-check mb-2">
                                <input class="form-check-input" type="radio" name="data-menu-color" id="leftbar-color-light" value="light" @(ViewData["IsMenuDark"] as bool? == false ? "checked" : "")>
                                <label class="form-check-label" for="leftbar-color-light">
                                    روشن
                                </label>
                            </div>

                            <div class="form-check mb-2">
                                <input class="form-check-input" type="radio" name="data-menu-color" id="leftbar-color-dark" value="dark" @(ViewData["IsMenuDark"] as bool? == true ? "checked" : "")>
                                <label class="form-check-label" for="leftbar-color-dark">
                                    تاریک
                                </label>
                            </div>
                        </div>


                        <div>
                            <h5 class="my-3 font-16 fw-semibold">اندازه سایدبار</h5>

                            <div class="form-check mb-2">
                                <input class="form-check-input" type="radio" name="data-menu-size" id="leftbar-size-default" value="default">
                                <label class="form-check-label" for="leftbar-size-default">
                                    پیش‌فرض
                                </label>
                            </div>

                            <div class="form-check mb-2">
                                <input class="form-check-input" type="radio" name="data-menu-size" id="leftbar-size-small" value="condensed">
                                <label class="form-check-label" for="leftbar-size-small">
                                    فشرده
                                </label>
                            </div>

                            <div class="form-check mb-2">
                                <input class="form-check-input" type="radio" name="data-menu-size" id="leftbar-hidden" value="hidden">
                                <label class="form-check-label" for="leftbar-hidden">
                                    پنهان
                                </label>
                            </div>

                            <div class="form-check mb-2">
                                <input class="form-check-input" type="radio" name="data-menu-size" id="leftbar-size-small-hover-active" value="sm-hover-active">
                                <label class="form-check-label" for="leftbar-size-small-hover-active">
                                    کوچک و فعال بر روی هاور
                                </label>
                            </div>

                            <div class="form-check mb-2">
                                <input class="form-check-input" type="radio" name="data-menu-size" id="leftbar-size-small-hover" value="sm-hover">
                                <label class="form-check-label" for="leftbar-size-small-hover">
                                    کوچک و هاور
                                </label>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="offcanvas-footer border-top p-3 text-center">
                <div class="row">
                    <div class="col">
                        <button type="button" class="btn btn-danger w-100" id="reset-layout">بازنشانی</button>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="/assets/js/app.js"></script>
    <script src="/assets/js/layout.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="/assets/libs/swiper/swiper-bundle.min.js"></script>
    <script src="/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="/assets/js/pages/app-chat.js"></script>
    <script src="/assets/libs/apexcharts/apexcharts.min.js"></script>
    <script src="/assets/libs/jsvectormap/jsvectormap.min.js"></script>
    <script src="/assets/libs/jsvectormap/maps/world.js"></script>
    <script src='/assets/js/pages/dashboard.js'></script>
    @RenderSection("Scripts", required: false)

</body>

</html>




